# Basics
- variable 
- input
- output

In [2]:
x=1.0
y='hello'

In [3]:
a=[1,2,3,4]
b={ 'name': 'raju', 'age':12}

In [4]:
name= input("enter the name")

## displaying data

In [5]:
print("hello world")

hello world

In [6]:
a='alex'
b='baron'
print(a)
print(b)

alex
baron

In [7]:
name= input('enter you name')
print('your name is:', name)

your name is: 8

In [8]:
num1= input('enter a no')
num2= input('enter a no')
print('you have entered', num1,'and', num2)

you have entered 8 and 8

### displaying data with messages
1. comma seperated
2. format string 
3. format function 
4. string concatenation
5. f-string

In [23]:
#format string
a,b,c= 5, 3.275843, 'hello' #multiple assignment
print('the values are %d, %f, %s' % (a,b,c))

the values are 5, 3.275843, hello

In [24]:
# format method
print('the value of a={}, b= {}, c= {}' .format(a,b,c))

the value of a=5, b= 3.275843, c= hello

In [25]:
# string concatenation
print('hello '+'world')
print('the value of a ' + str(a))
print('the value of b ' + str(b))
print('the value of c ' + c)

hello world
the value of a 5
the value of b 3.275843
the value of c hello

In [26]:
#f-string
print(f'the value of a={a}, b= {b}, c= {c}')

the value of a=5, b= 3.275843, c= hello

# f-string settings

In [30]:
#formatting values
a,b = 10,3
print(f'{a}/{b} = {a/b}')
print(f'{a}/{b} = {a/b:.2f}') # :.2f->display 2 decimal place

10/3 = 3.3333333333333335
10/3 = 3.33

In [33]:
#alignment 
name= 'alex'
print(f'you are {name}')
print(f'you are {name:10}') # 10 here is the number of characters
print(f'you are {name:>10}') # right aligned
print(f'you are {name:<10}') # left aligned
print(f'you are {name:^10}') # centre aligned

you are alex
you are alex
you are       alex
you are alex
you are    alex

In [37]:
a,b,c,d='apple', 'blueberry', 'cherry', 'dragonfruit'
print(f'🍎fruit 1:{a:>11}')
print(f'🍇fruit 2:{b:>11}')
print(f'🍒fruit 3:{c:>11}')
print(f'🍉fruit 4:{d:>11}')

🍎fruit 1:      apple
🍇fruit 2:  blueberry
🍒fruit 3:     cherry
🍉fruit 4:dragonfruit