# DATA STRUCTURES
`list []` 
- indexed 
- ordered 
- mutable
- hetrogeneous 
- can have duplicates
- list() : to convert anything to list

`tuple ()`
- indexed 
- ordered 
- immutable
- hetrogeneous 
- can have duplicates
- tuple() : to convert anything to tuple

`set {}`
- unindexed 
- unordered 
- mutable
- hetrogeneous 
- can have only unique values
- set() :to convert anything to set

`dictionary {}`
- unindexed 
- ordered 
- mutable
- hetrogeneous 
- can have duplicates
- works in key value pairs
- dict() : to convert anything to dictionary

In [1]:
#list
a = [] #empty list
b = [1,2,3,4] #numerical list
c = ['hello', 'world'] #string list
d = ['apple', 1, 'banana', 2] #mixed list
e = [[1,2,3], [4,5,6,7], [8,9,10]] #list of list
f = [['apple', 1], ['banana', 2], ['cherry', 3]] #mixed nested list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['hello', 'world']
['apple', 1, 'banana', 2]
[[1, 2, 3], [4, 5, 6, 7], [8, 9, 10]]
[['apple', 1], ['banana', 2], ['cherry', 3]]

In [6]:
print(list('hello')) #will convert hello into a list
h = list(range(10))
print(h)
i = list((1,2,3,4,5))
j = [1,2,3] * 5 #duplicated list
print(j)
print(i)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5]

In [8]:
movies = ['ZNMD', 'YJHD', 'Gangs of Wasseypur','sex and the city','50 shades of grey', '365 days' ]
print(movies)
print(len(movies))
print('first movie', movies[0])
print('last movie', movies[-1])

['ZNMD', 'YJHD', 'Gangs of Wasseypur', 'sex and the city', '50 shades of grey', '365 days']
6
first movie ZNMD
last movie 365 days

In [10]:
numbers = list(range(1,11))
print(numbers[:3])
print(numbers[-3:])
print(numbers[2:-2])
print(numbers[::-1])

[1, 2, 3]
[8, 9, 10]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## List methods (11)
- `adding/updating`
  - append()
  - extend()
  - insert()
- `removing/deletion`
  - remove()
  - pop()
  - clear()
- `utility methods`
  - sort()
  - reverse()
  - count()
  - copy()

In [20]:
fav_books = []
hated_books = []
for i in range(5):
    fav_books.append(input('enter your fav book'))
for i in range(3):
    hated_books.append(input('enter your hated book'))
print(fav_books)
print(hated_books)

['a', 'b', 'c', 'd', 'e']
['f', 'g', 'h']

In [21]:
# merge two list and create a new list
books = fav_books + hated_books
print(books)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [23]:
# adding a list to existing list
books.extend(['legion', 'chacha choudhry', 'treasure trove'])
print(books)
print('total books: ', len(books))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'legion', 'chacha choudhry', 'treasure trove', 'legion', 'chacha choudhry', 'treasure trove']
total books:  14

In [25]:
books.insert(2, 'abcd')

['a',
 'b',
 'abcd',
 'abcd',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'legion',
 'chacha choudhry',
 'treasure trove',
 'legion',
 'chacha choudhry',
 'treasure trove']

In [28]:
# remove
books.remove('chacha choudhry') #remove by value

ValueError: list.remove(x): x not in list

In [32]:
books.pop(6) #remove by index
books.pop() #removes last index
books,clear() # remove all elements

['a', 'b', 'abcd', 'abcd', 'c', 'd', 'legion', 'treasure trove']

### WAP to create an empty list and, then fill the list with 10 prime numbers