# DATA STRUCTURES
`list []` 
- indexed 
- ordered 
- mutable
- hetrogeneous 
- can have duplicates
- list() : to convert anything to list

`tuple ()`
- indexed 
- ordered 
- immutable
- hetrogeneous 
- can have duplicates
- tuple() : to convert anything to tuple

`set {}`
- unindexed 
- unordered 
- mutable
- hetrogeneous 
- can have only unique values
- set() :to convert anything to set

`dictionary {}`
- unindexed 
- ordered 
- mutable
- hetrogeneous 
- can have duplicates
- works in key value pairs
- dict() : to convert anything to dictionary

In [1]:
#list
a = [] #empty list
b = [1,2,3,4] #numerical list
c = ['hello', 'world'] #string list
d = ['apple', 1, 'banana', 2] #mixed list
e = [[1,2,3], [4,5,6,7], [8,9,10]] #list of list
f = [['apple', 1], ['banana', 2], ['cherry', 3]] #mixed nested list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['hello', 'world']
['apple', 1, 'banana', 2]
[[1, 2, 3], [4, 5, 6, 7], [8, 9, 10]]
[['apple', 1], ['banana', 2], ['cherry', 3]]

In [6]:
print(list('hello')) #will convert hello into a list
h = list(range(10))
print(h)
i = list((1,2,3,4,5))
j = [1,2,3] * 5 #duplicated list
print(j)
print(i)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5]

In [8]:
movies = ['ZNMD', 'YJHD', 'Gangs of Wasseypur','sex and the city','50 shades of grey', '365 days' ]
print(movies)
print(len(movies))
print('first movie', movies[0])
print('last movie', movies[-1])

['ZNMD', 'YJHD', 'Gangs of Wasseypur', 'sex and the city', '50 shades of grey', '365 days']
6
first movie ZNMD
last movie 365 days

In [10]:
numbers = list(range(1,11))
print(numbers[:3])
print(numbers[-3:])
print(numbers[2:-2])
print(numbers[::-1])

[1, 2, 3]
[8, 9, 10]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## List methods (11)
- `adding/updating`
  - append()
  - extend()
  - insert()
- `removing/deletion`
  - remove()
  - pop()
  - clear()
- `utility methods`
  - sort()
  - reverse()
  - count()
  - copy()

In [20]:
fav_books = []
hated_books = []
for i in range(5):
    fav_books.append(input('enter your fav book'))
for i in range(3):
    hated_books.append(input('enter your hated book'))
print(fav_books)
print(hated_books)

['a', 'b', 'c', 'd', 'e']
['f', 'g', 'h']

In [21]:
# merge two list and create a new list
books = fav_books + hated_books
print(books)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [23]:
# adding a list to existing list
books.extend(['legion', 'chacha choudhry', 'treasure trove'])
print(books)
print('total books: ', len(books))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'legion', 'chacha choudhry', 'treasure trove', 'legion', 'chacha choudhry', 'treasure trove']
total books:  14

In [25]:
books.insert(2, 'abcd')

['a',
 'b',
 'abcd',
 'abcd',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'legion',
 'chacha choudhry',
 'treasure trove',
 'legion',
 'chacha choudhry',
 'treasure trove']

In [28]:
# remove
books.remove('chacha choudhry') #remove by value

ValueError: list.remove(x): x not in list

In [33]:
books.pop(6) #remove by index
books.pop() #removes last index
books.clear() # remove all elements

### WAP to create an empty list and, then fill the list with 10 prime numbers

In [13]:
prime=[]
c=0
p=2
k=0
while c<10:
    k=0
    for i in range(1,p):
        if p%i==0:
            k+=1
    if k==1:
        c+=1
        prime.append(p)
    p+=1
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [38]:
numbers = [4,3,21,98,4,6,7,6,9]
#reverse
print(numbers[::-1])# gives result but doesn't change the original list
print(numbers)

[9, 6, 7, 6, 4, 98, 21, 3, 4]
[4, 3, 21, 98, 4, 6, 7, 6, 9]

In [39]:
numbers.reverse() #changes the original list
print(numbers)

[9, 6, 7, 6, 4, 98, 21, 3, 4]

In [41]:
numbers.sort() #ascending order, changes the original list
print(numbers)

[3, 4, 4, 6, 6, 7, 9, 21, 98]

In [42]:
numbers.sort(reverse=True)# descending order
print(numbers)

[98, 21, 9, 7, 6, 6, 4, 4, 3]

In [43]:
x = [[1 ,12], [2, 5], [5, 10], [4, 5]]
x.sort() #sort by first element of the list
print(x)

[[1, 12], [2, 5], [4, 5], [5, 10]]

In [45]:
x.sort(key= lambda e: e[1]) #will access according to 1st element(lambda function)
print(x)

[[2, 5], [4, 5], [5, 10], [1, 12]]

In [46]:
x.sort(key= lambda e: e[1], reverse=True)
print(x)

[[1, 12], [5, 10], [2, 5], [4, 5]]

In [48]:
x.sort(key=lambda i : sum(i))
print(x)

[[2, 5], [4, 5], [1, 12], [5, 10]]

In [54]:
users = [('Alice', 25), ('Bob', 19), ('Alex', 35)]
users.sort(key= lambda i: i[1])
print(users)

[('Bob', 19), ('Alice', 25), ('Alex', 35)]

In [59]:
cart = [
['mobile', 25000, 2],
['laptop', 60000, 3],
['headphone', 3000, 5]
]
cart.sort(key= lambda i: i[2])
print(cart)

[['mobile', 25000, 2], ['laptop', 60000, 3], ['headphone', 3000, 5]]

In [62]:
a = [1,2,3,4,5,5,1,2,1,14,5,6,1,1,11,1]
print('1 occurs', a.count(1))
print('5 occurs', a.count(5))
print('10 occurs', a.count(10))

1 occurs 6
5 occurs 3
10 occurs 0

In [64]:
numbers.index(7)

3

In [71]:
a = [1,2,3,4,5]
b = a.copy() #shallow copy(new list with same elements)
c = a        #reference copy(both a and c refer to same memory location)
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)
print(hex(id(a)))#print memory location(id()) in hexadecimal(hex())
print(hex(id(b)))
print(hex(id(c)))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]
0x12cdd513940
0x12cdc5c0080
0x12cdd513940

In [92]:
x = [1,2,6,4]
x = list(map(lambda i: i**2 ,x))
print(x)

1292203287744
[1, 4, 36, 16]
1292202903168

## Comprehension

In [94]:
#comprehension
#syntax: new_list= [operation loop (condition)]
x2= [i**2 for i in x]
print(x2)

[1, 16, 1296, 256]

In [97]:
a = [1,2,3,4,5,6]
aeven2 = [i**2 for i in a if i %2 == 0] #condition: only square if element is even
print(aeven2)

[4, 16, 36]

In [99]:
#map and filter
aodd2 = list(map(lambda i: i**2, filter(lambda i: i%2!=0,a)))
print(aodd2)

[1, 9, 25]

In [133]:
names = ['Alice Smith', 'Bob Brown', 'Charlie Green', 'David White']
for i in names:
    print(i[0], i[i.find(' ')+1])

A S
B B
C G
D W

In [114]:
[print(i[0],i[i.find(' ')+1]) for i in names]

A S
B B
C G
D W

[None, None, None, None]

## Tuples
- creating
- indexing and slicing
- methods
- packing & unpacking

In [4]:
x = () #empty tuple
y = (1,) #single element tuple
z = (1,2,3,4,5) #multi-element tuple
a = ((1,2,), (3,4), (5,6))  #nested tuple
b = ('a', 1, 'b', 2) #mixed tuple
c = (1,)*5 #duplicate tuple
d = tuple('stormlight archives') #tuple from string
e = tuple(range(10)) #sequence to tuple
print(x,y,z)
print(a)
print(b)
print(c)
print(d)
print(e)

() (1,) (1, 2, 3, 4, 5)
((1, 2), (3, 4), (5, 6))
('a', 1, 'b', 2)
(1, 1, 1, 1, 1)
('s', 't', 'o', 'r', 'm', 'l', 'i', 'g', 'h', 't', ' ', 'a', 'r', 'c', 'h', 'i', 'v', 'e', 's')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
# indexing & slicing same as strings and list
print(e[4::-1]) # -1 makes this go in reverse

(4, 3, 2, 1, 0)

In [9]:
#methods: indedx(search) & count()
fruits = ('apple', 'banana', 'cherry', 'dragon fruit', 'apple')
print(fruits.index('apple')) # returns index of first occurence of apple
print(fruits.index('apple', 1)) # search starts from 1
print(fruits.count('apple')) # counts no of occurences 
print(fruits.count('banana'))

0
4
2
1

In [11]:
x = 1,2,3 #tuple packing -> python automatically converts this into a tuple
print(x)

(1, 2, 3)

In [20]:
def stats(*data):
    total = sum(data)
    avg = total/len(data)
    return total, round(avg ,2)

In [21]:
s = stats(12,35,76,90,45)
print(s)

(258, 51.6)

In [23]:
# tuple unpacking
a , b = 12, 45
print(a,b)
# a, b, c = 12, 34  ##error
# a, b = 12, 34, 42  ##error
# total, mean, max = stats(12,34,,56,78,8,99,0)  ##error

12 45

In [29]:
a , b, *c = (2,3,4,5,6) # 1 value each in a & b and the rest in c (which will be a list)
print(a,b,c)

2 3 [4, 5, 6]

In [30]:
a , *b, c = (2,3,4,5,6)
print(a)
print(b)
print(c)

2
[3, 4, 5]
6

# SET
- creating
- methods
- set operations
  - union
  - intersection
  - difference
  - symmetric difference
  - issubset
  - superset

In [31]:
x = set() #empty set
y = {1,2,3,4,5,6,7} #set with elements
z = {1,1,2,2,3,3,4,4} #set removes duplicates
print(x)
print(y)
print(z)

set()
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4}

In [32]:
a = set('hello')
print(a)

{'h', 'o', 'l', 'e'}

In [49]:
b = set([23,54,64,78,90])
print(b)
c = set(range(10))
for i in c:
    print(i, end=" ")

{64, 78, 54, 23, 90}
0 1 2 3 4 5 6 7 8 9

In [52]:
data = set() #empty set
data.add(12) #adds single element
data.add(13)
data.add(15)
data.add(9)
print(data)

{9, 12, 13, 15}

In [53]:
data.update([23,45,67,89]) #add multiple elements
print(data)

{67, 9, 12, 13, 45, 15, 23, 89}

In [55]:
data.discard(23) #removes element
data.remove(45) #removes element(error if not present)
print(data)

KeyError: 45

In [56]:
data.pop()#removes random element
print(data)
data.clear() #removes all elements
print(data)

{9, 12, 13, 15, 89}
set()

In [57]:
# operations
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {11,12,13,45,26}
print(a.union(b))
print(a | b) # | is union operator

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
print(a.intersection(b))
print(a & b) # & is intersection operator

{4, 5}
{4, 5}

In [59]:
print(a.difference(b))
print(a -  b) # - is difference operator
print(b - a)
print(b.difference(a))

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [60]:
print(a.symmetric_difference(b))
print(a ^ b) # ^ is symmetric difference operator

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [61]:
d = {1,2,3}
print(a.issuperset(b))
print(a.issuperset(c))
print(a.issuperset(d))

False
False
True

In [62]:
print(d.issubset(c))
print(d.issubset(a))
print(d.issubset(b))

False
True
False

In [63]:
print(a.isdisjoint(b))
print(a.isdisjoint(c))
print(a.isdisjoint(d))

False
True
False

# conversion

In [66]:
a = [1,2,3,4]
a_set = set(a)
a_tuple = tuple(a)
print(a)
print(a_set)
print(a_tuple)

[1, 2, 3, 4]
{1, 2, 3, 4}
(1, 2, 3, 4)

In [67]:
a_list = list(a_set)
print(a_list)

[1, 2, 3, 4]

In [68]:
x = [1,1,2,2,4,5,6,7,11,2,3,1,1,4,5]
print(x)
x = list(set(x)) #set -> remove duplicated -> list -> x
print(x)

[1, 1, 2, 2, 4, 5, 6, 7, 11, 2, 3, 1, 1, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 11]