# programming flow
- conditional flow
  - if
  - if else
  - if elif else
  - match case
- iterative flow
  - for loop
  - while loop

In [1]:
if 'hello':
    print('hello everyone')

hello everyone

In [4]:
x= 'hello'
if len(x) >= 5:
    print('hello everyone')

hello everyone

In [7]:
a = int(input('enter a number'))
if a*2 > 100: print('it is greater')
if a+50 > 150:
    print('a + 50 is greater than 100')

it is greater

In [9]:
x=int(input('enter a number'))
if x%2 == 0: print('even')
else:print('odd')

odd

### wap to find out the total salary of the employee based on the follwing data
```
total salary : user input
hra= 5%
da= 3.3%
ta= 2.61%
```
`total= salary + da + ta + hra`

*rules*

`f hra is less than 1000 then dont add hra to total`

In [4]:
sal= float(input('enter the salary'))
hra= sal*5 / 100
da= sal*3.3 / 100
ta= sal*2.61 / 100
if hra < 1000: print(f'total salary= {sal+da+ta}')
else: print(f'total salary = {sal+hra+da+ta}')

total salary= 10.591

In [5]:
sal= float(input("enter the salary"))
if (0.05*sal)<1000:print(f'total salary= {sal+(0.033+0.0261)*sal}')
else:print(f'total salary = {sal+(0.05+0.033+0.0261)*sal}')

total salary= 10.591

In [14]:
name = input("enter movie name")
num_str = input("enter movie rating")
if num_str.isnumeric():
    num=int(num_str)
    print(f'Movie: {name}')
    if num == 1: print("⭐ (terrible)")
    elif num == 2:print("⭐⭐ (bad)")
    elif num == 3:print("⭐⭐⭐ (average)")
    elif num == 4:print("⭐⭐⭐⭐ (good)")
    elif num == 5:print("⭐⭐⭐⭐⭐ (excellent)")
else: print('invalid rating')

Movie: ZNMD
⭐⭐⭐ (average)

In [29]:
# match case - used to match multiple values
day = input('enter a day of the week: ').lower().strip()
match day:
    case 'monday'| 'tuesday' | 'wednesday' | 'friday': print('Data science class')
    case 'thursday': print('holiday')
    case 'saturday'| 'sunday': print('holiday')
    case _: print('invalid day') #default case

Data science class

### Single line conditions

In [20]:
x = int(input('enter a number'))
print('above 100' if x>100 else 'below 100')

below 100

#### For loop
 - step based
 - traversal
#### While loop
 - condition based

In [23]:
for var in 'hello': print(var)

h
e
l
l
o

In [4]:
colors= ['red', 'green', 'blue']
for i,v in enumerate(colors): print(i, v)

0 red
1 green
2 blue

In [5]:
numlist = [12, 56, 7 ,2 ,6 ,10, 20]
for num in numlist: print(f'{num:< 3} => {num*10:>3}')

 12 => 120
 56 => 560
 7  =>  70
 2  =>  20
 6  =>  60
 10 => 100
 20 => 200

range(value): `start from 0, go to value`

range (a , b): `start from a, go to b-1`

range(a ,b, c): `start from a, go to b-1 with step c`

In [6]:
for i in range(1 ,11): print(f'13 * {i:>2} = {13*i:>3}')

13 *  1 =  13
13 *  2 =  26
13 *  3 =  39
13 *  4 =  52
13 *  5 =  65
13 *  6 =  78
13 *  7 =  91
13 *  8 = 104
13 *  9 = 117
13 * 10 = 130

In [7]:
for i in range(1 ,101, 2): print(f'{i}')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [8]:
#reverse loop
for i in range(99, -1, -2): print(f'{i}')

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

5-06-24
 - nested
 - break and continue
 - for- else

In [19]:
for i in range(1,11):
    for i in range(1,4):
        print(i,end='')
    print()

123
123
123
123
123
123
123
123
123
123

In [26]:
cdata = [
    [1, 'john', 25],
    [2, 'jane', 22],
    [3, 'doe', 30, 'engineer']
]
for row in cdata:
    for item in row:
        print(item, end='|')
    print()

1|john|25|
2|jane|22|
3|doe|30|engineer|

In [30]:
more_data=[
    [[12,45,67], [23,45,67], [34,56,78]],
    [[23,45,23],[34,56,78]],
]
for row in more_data:
    for column in row:
        for item in column:
            print(item, end='')
            print()

12
45
67
23
45
67
34
56
78
23
45
23
34
56
78

In [31]:
#break
x = [1,2,3,4,-1,5,6,7]
for i in x:
    if(i<0):
        break
    print(i)
print('loop executed')

1
2
3
4
loop executed

In [61]:
#continue
crap= [1,2,3,'4',5,'6', '7',8,9,'10']
for i in crap:
    if isinstance(i ,str):
        continue #skips next statement if condition is found to be true
    print(i, end=' ')
##############
print('\nAlternate way')
for i in crap:
    if isinstance(i ,int):
        print(i, end=' ')

1 2 3 5 8 9
Alternate way
1 2 3 5 8 9

In [69]:
#for-else
# adding a check for loop completion

#####non-pythonic code#####
data = [1,2,3,4,5,6,7,8,9,10]
stop_val=int(input('enter the no to stop at:'))
counter =0
for i in data:
    if stop_val == i:
        break
    print(i)
    counter+=1
print(f'count: {counter}')
if counter == len(data):
    print('loop\'s all  steps completed')

1
2
3
count: 3

In [73]:
####pythonic code####
data = [1,2,3,4,5,6,7,8,9,10]
stop_val=int(input('enter the no to stop at:'))
for i in data:
    if stop_val == i:
        print(f'loop stopped at {i}')
        break
    print(i)
else: print("loop completed all steps")

1
2
3
loop stopped at 4

### while loop

In [1]:
i = 10
while i> 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [10]:
# sum of all digits
num = int(input("enter a number"))
total=0
while num!=0:
    total += num%10
    num = num // 10
print(f'sum = {total}')

sum = 15